.header__wrapper {
  padding-top: 23px;
  padding-bottom: 6px;
}

.nav .header__social-text {
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-right: 40px;
  }

  & li {
    cursor: pointer;
    transition: 0.2s;
    margin-right: 30px;
    border-bottom: none;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transition: 0.2s;

      & a {
        color: #000000;
        transition: 0.2s;
        border-bottom: none;
      }
    }
  }

  & a {
    text-decoration: none;
    transition: 0.2s;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-bottom: none;
    color: #8D8D8D;
  }
}

.nav .header__social-image {

  & svg {
    fill: #8D8D8D;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  & li {
    cursor: pointer;
    transition: 0.2s;
    margin-right: 20px;
    margin-top: 5px;
    border-bottom: none;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transition: 0.2s;

      & a {
        opacity: 1;
        transition: 0.2s;
        border-bottom: none;
      }
    }
  }

  & a {
    opacity: 0.4;
    text-decoration: none;
    transition: 0.2s;
    border-bottom: none;
  }
}

.header__social {
  display: flex;
}

.header__social-phone {
  display: none;
}



@include tablet {
  .header__social-phone {
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    transition: 0.2s;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-bottom: none;
    color: #8D8D8D;
    cursor: pointer;
    &:hover {
      transition:0.2s;
      opacity: 0.7;
    }

  }
  .header__social {
    flex-direction: column;
  }
  .header__social-text {
    & ul {
      margin-right: 0;
      flex-direction: column;
    }

    & li {
      margin-right: 7px;
      &:last-child {
        margin-right: 0;
      }

      &:hover {
        transition: 0.2s;

        & a {
          color: #000000;
          transition: 0.2s;
        }
      }
    }
  }
  .nav .header__social-image {
    & ul {
      justify-content: flex-end;
    }
  }
}

@include mobile() {
  .nav .header__social {
    & svg {
      fill: #39C9C0;
    }

    & ul {
      padding-top: 30px;
      & li {
        margin-bottom: 17px;
      }

      & a {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #8D8D8D;
        border-bottom: none;
      }

    } 
  }

  .header__social-phone {
    order: 1;
  }

  .nav .header__social-image {
    & ul {
      padding-top: 50px;
      flex-direction: row;
      justify-content: flex-start;

      & a {
        opacity: 1;
      }
    }
  }

  .nav .nav__content .header__social-phone {
    display: inline;
    justify-content: flex-start;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: normal;
    margin-top: -9px;
    border-bottom: none
  }
}